@inherits LayoutComponentBase
@inject IAuthProvider authServ
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage

<PageTitle>Task Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (@authServ.UserInfo != null)
            {
                <a class="usermenu-toggler" @onclick="ToggleNavMenu">
                    @authServ.UserInfo.UserName
                </a>
                <div class="@UserMenuCssClass" @onclick="ToggleNavMenu">
                    <nav class="flex-column">
                        <NavLink class="nav-link" href="/Logout" Match="NavLinkMatch.All">
                            <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
                        </NavLink>
                    </nav>
                </div>
            }
        </div>

        <article class="content px-4">
            <AuthComponent>
                @Body
            </AuthComponent>
        </article>
    </main>
</div>

@code{

    private bool collapseUserMenu = true;

    private string _userMenuCssClass = "user-menu-container";

    private string? UserMenuCssClass => collapseUserMenu ? _userMenuCssClass + " collapse" : _userMenuCssClass;

    protected override async Task OnInitializedAsync()
    {
        await authServ.CheckLocalStorage(BrowserStorage);

        await base.OnInitializedAsync();
    }


    private void ToggleNavMenu()
    {
        collapseUserMenu = !collapseUserMenu;
    }

}


