@page "/ForgotPassword"
@page "/ForgotPassword/{Code}"
@layout LoginLayout
@inject IAuthProvider iauth
@inject NavigationManager navMan
@inject IJSRuntime js

<div class="password-container">
    <div class="password-item">
        <h3 style="text-align:center;width:100%;">Reset Password</h3>
    </div>

    @if (string.IsNullOrEmpty(code))
    {
        <div class="password-item">
            <h4>Enter Email</h4>
            <input type="text" @bind=Email />
        </div>
       
        
       <CenterHorizontally>
            <div class="password-item">
                <button class="btn btn-outline-primary" @onclick="SendCode">
                    Send Code
                </button>
            </div>
        </CenterHorizontally>
        
    }
    else
    {
        <div class="password-item" style="display: flex;flex-wrap: wrap; justify-content: space-between;">
            <h6>New Password</h6> <div><h10>Show Password</h10><input type="checkbox" @bind=show1 style="width: auto;" /></div>
            <input type="@inputType1" @bind=Pass1 />
        </div>

        <div class="password-item" style="display: flex;flex-wrap: wrap; justify-content: space-between;">
            <h6>Reinput New Password</h6> <div><h10>Show Password</h10><input type="checkbox" @bind=show2 style="width: auto;" /> </div>
            <input type="@inputType2" @bind=Pass2/>
        </div>

        <CenterHorizontally>
            <div class="password-item">
                <button class="btn btn-outline-primary" @onclick="ResetPass">
                    Reset
                </button>
            </div>
        </CenterHorizontally>
    }
</div>

<ErrorMessageHandler @ref=Handler />

@code {
    ErrorMessageHandler Handler;

    [Parameter] public string code { get; set; }

    public string Pass1;
    public string Pass2;
    public string Email;

    public string inputType1 => show1 ? "text" : "password";

    public string inputType2 => show2 ? "text" : "password";

    private bool show1 = false;
    private bool show2 = false;

    private string? error_message;

    private void ResetPass()
    {
        if (Pass1 != Pass2)
        {
            error_message = "Passwords must match";
            Handler.ShowMessage(error_message);
            return;
        }
        if (!CheckPassComplexity(Pass1))
        {
            Handler.ShowMessage(error_message);
            return;
        }



    }

    private void SendCode()
    {
        
    }

    private bool CheckPassComplexity(string pass){
        if(!pass.Any(char.IsDigit)){
            error_message = "Password must contain a number";
            return false;
        }
        if(!pass.Any(char.IsLetter)){
            error_message = "Password must contain a letter";
            return false; 
        }
        if(!pass.Any(char.IsSymbol)){
            error_message = "Password must contain a symbol";
            return false;
        }
        if(pass.Length < 10){
            error_message = "Password must be greater than 10 characters";
            return false;
        }
        return true;
    }

    private void HideErrorMessage(){
        error_message = null;
    }

}
