@page "/AddTask"
@inject IJSRuntime js
@inject IAuthProvider authServ


<PageTitle>Create Task</PageTitle>

<div style="width:100%;text-align:center;">
    <h3>Create Task</h3>
</div>

<TaskForm OnSubmit="OnSubmit"/>

@code {

    private void OnSubmit(DTO.TaskTransferModal new_modal)
    {
        js.InvokeVoidAsync("alert", "successful submit");
    }

}
