@page "/ForgotPassword"
@page "/ForgotPassword/{Code}"
@layout LoginLayout
@inject IAuthProvider iauth
@inject NavigationManager navMan
@inject IJSRuntime js

<div class="password-container">
    <div class="password-item">
        <h3 style="text-align:center;width:100%;">Reset Password</h3>
    </div>

    @if (string.IsNullOrEmpty(code))
    {
        <div class="password-item">
            <h4>Enter Email</h4>
            <input type="text" @bind=Pass1 />
        </div>
       
        
       <CenterHorizontally>
            <div class="password-item">
                <button class="btn btn-outline-primary" @onclick="SendCode">
                    Send Code
                </button>
            </div>
        </CenterHorizontally>
        
    }
    else
    {
        <div class="password-item" style="display: flex;flex-wrap: wrap; justify-content: space-between;">
            <h6>New Password</h6> <div><h10>Show Password</h10><input type="checkbox" @bind=show1 style="width: auto;" /></div>
            <input type="@inputType1" @bind=Pass1 />
        </div>

        <div class="password-item" style="display: flex;flex-wrap: wrap; justify-content: space-between;">
            <h6>Reinput New Password</h6> <div><h10>Show Password</h10><input type="checkbox" @bind=show2 style="width: auto;" /> </div>
            <input type="@inputType2" @bind=Pass2/>
        </div>

        <CenterHorizontally>
            <div class="password-item">
                <button class="btn btn-outline-primary" @onclick="ResetPass">
                    Reset
                </button>
            </div>
        </CenterHorizontally>
    }
</div>

@code {
    [Parameter] public string code { get; set; }

    public string Pass1;
    public string Pass2;

    public string inputType1 => show1 ? "text" : "password";

    public string inputType2 => show2 ? "text" : "password";

    private bool show1 = false;
    private bool show2 = false;

    private void ResetPass()
    {

    }

    private void SendCode()
    {
        if (Pass1 != Pass2)
        {

        }
    }

    private void show_pass1()
    {
        
    }

    private void show_pass2()
    {

    }

}
