@page "/"
@inject NavigationManager NavMan


<PageTitle>Index</PageTitle>

<button onclick="@(() => {NavMan.NavigateTo("/Login");})">To Login</button>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
