<div class="input-date-container">
    <div class="input-date-item">
        <label>Date</label>
        <InputDate class="custom_input" @bind-Value="@DateVal" style="width: 150px;"></InputDate>
    </div>


    <div class="input-date-item">
        <label>Time</label>
        <input type="time" @bind-value="TimeVal" />
    </div>
</div>


@code {
    [Parameter]
    public DateTime? Value
    {
        get => _tbDate?.Add(_tbTime.ToTimeSpan());
        set
        {
            if (_tbDate?.Add(_tbTime.ToTimeSpan()) == value) return;

            _tbDate = value;

            _tbTime = TimeOnly.FromTimeSpan(_tbDate?.TimeOfDay?? new TimeSpan());

            _tbDate = _tbDate?.Date;

            ValueChanged.InvokeAsync(value);
        }
    }

    public DateTime DateVal
    {
        get => _tbDate ?? new DateTime();
        set
        {
            if (_tbDate == value) return;

            _tbDate = value.Date;

            ValueChanged.InvokeAsync(value + _tbTime.ToTimeSpan());
        }
    }

    public DateTime TimeVal
    {
        get => DateTime.Now.Date + _tbTime.ToTimeSpan();
        set
        {
            if (_tbTime.ToTimeSpan() == value.TimeOfDay) return;

            _tbTime = TimeOnly.FromTimeSpan(value.TimeOfDay);

            ValueChanged.InvokeAsync((_tbDate ?? DateTime.Now) + value.TimeOfDay);
        }
    }


    [Parameter]
    public EventCallback<DateTime?> ValueChanged { get; set; }

    [Parameter]
    public DateTime? Placeholder { get; set; }

    private DateTime? _tbDate;

    private TimeOnly _tbTime;

}
