<div class="input-date-container">
    <div class="input-date-item">
        <label>Date</label>
        <InputDate @bind-Value="@Value"></InputDate>
    </div>


    <div class="input-date-item">
        <label>Time</label>
        <input type="time" @bind-value="Value" />
    </div>
</div>


@code {
    [Parameter]
    public DateTime? Value
    {
        get => _tbDate?.Add(_tbTime.ToTimeSpan());
        set
        {
            if (_tbDate?.Add(_tbTime.ToTimeSpan()) == value) return;

            _tbDate = value;

            _tbTime = TimeOnly.FromTimeSpan(_tbDate?.TimeOfDay?? new TimeSpan());

            _tbDate = _tbDate?.Date;

            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<DateTime?> ValueChanged { get; set; }

    [Parameter]
    public DateTime? Placeholder { get; set; }

    private DateTime? _tbDate;

    private TimeOnly _tbTime;

}
