<h3>TaskForm</h3>

@if (!string.IsNullOrEmpty(alertMessage))
{
	<h4>@alertMessage</h4>
}

<EditForm Model="modal" OnValidSubmit="Submit">
	<div class="form-group">
		<label>Title</label>
		<input type="text" placeholder="Enter Title Here" @bind=modal.Title />
	</div>
	<div class="form-group">
		<label>Description</label>
		<input type="text" placeholder="Enter Description Here" @bind=modal.Description />
	</div>
	<div class="form-group">
		<label>Start Date</label>
		<InputDateTime @bind-Value="modal.recurrenceOptions.FirstOccurrance">
		</InputDateTime>
	</div>

	<TaskRecurrenceInput @bind-Value="modal.recurrenceOptions"></TaskRecurrenceInput>
	

	<button type="submit">Enter</button>
</EditForm>


@code {
	private DTO.TaskTransferModal modal = new DTO.TaskTransferModal(){
		recurrenceOptions = new DTO.TaskRecurrenceTransferModal(){
			FirstOccurrance = DateTime.Now
		}
	};

	

	private string alertMessage = "";

	private async Task Submit(){
		alertMessage = modal.recurrenceOptions.FirstOccurrance?.ToString("MM/dd/yyyy hh:mm:ss");
	}


}
